.section.section-experience {
  @apply flex flex-col items-start justify-start gap-8;

  .section-experience-content{
    @apply flex py-8;

    .experience-wrapper{
      @apply flex flex-row flex-wrap gap-16 md:gap-8 2xl:gap-16;
      @apply w-full;

      .experience-box-wrapper{
        @apply w-full md:w-[calc(50%_-_16px)] xl:w-[calc(33.33%_-_24px)] 2xl:w-[calc(33.33%_-_48px)];
        @apply transition-transform overflow-hidden;
        @apply lg:scale-90 lg:hover:scale-100 rotate-0;

        &:nth-of-type(2n+1){
          @apply lg:-rotate-2;
          @apply lg:hover:rotate-0;
        }

        &:nth-of-type(2n){
          @apply lg:rotate-2;
          @apply lg:hover:rotate-0;
        }

      }

      .experience-box{
        @apply bg-content text-bkg p-4 rounded-lg shadow-lg cursor-pointer;
        @apply flex flex-col gap-4 w-full;
        @apply lg:before:-skew-x-12 lg:before:absolute lg:before:inset-0 lg:before:-translate-x-full lg:before:bg-gradient-to-r lg:before:from-transparent lg:before:via-bkg/10 lg:before:to-transparent;

        &.empty-box{
          @apply h-48 flex justify-center items-center p-0;
          min-height: 100%;

          button {
            @apply text-2xl font-bold w-full h-full;
          }
        }

        .job-title{
          @apply font-semibold;
        }

        .company-logo{
          @apply flex w-full justify-center -ml-2 -mb-2 ;
          width: calc(100% + 16px);

          a{
            @apply w-full flex justify-center py-4;
          }

          img{
            max-height: 100px;
            max-width: 180px;
          }

        }



      }



    }


  }
}


.App[data-theme="light"] {
  .experience-box-wrapper{
    .company-logo {
      &.white-text{

      }
      &.black-text{
        @apply bg-bkg;
      }
    }
  }
}

.App[data-theme="dark"], .App[data-theme="purple"], .App[data-theme="green"], .App[data-theme="blue"] {
  .experience-box-wrapper{
    .company-logo {
      &.white-text{
        @apply bg-bkg;
      }
      &.black-text{
      }
    }
  }
}
